* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}

.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;

}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    color: var(--white-color, #FFF);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    padding: 18px 35px 19px 35px;

}


/* header and navigation title */

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav-title {
    font-size: 45px;
    font-weight: 800;

}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}

/* banner style */
.banner {
    display: flex;
    margin: 0 200px;
    align-items: center;

}

.banner-title {
    color: var(--dark-01, #181818);
    font-size: 85px;

    font-weight: 700;
    margin-bottom: 20px;
}

.banner-sub-title {
    color: var(--dark-02, #474747);

    font-size: 45px;

    font-weight: 600;
    margin-bottom: 5px;


}

.banner-discription {
    color: var(--dark-03, #757575);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 30px;


}

/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}
section{

    margin-top: 130px;
}

/* section styles */
.about {
    

    background: #FFF8F3;

    text-align: center;
    padding: 130px 150px;
    border-radius: 10px;



}

.section-title {
    
    color: var(--dark-01, #181818);
    font-size: 35px;
    margin-bottom: 50px;



    font-weight: 700;


}

.section-decription {


    color: var(--dark-03, #757575);


    font-size: 18px;

    font-weight: 400;



}

.about-info-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;

}

.info-title {
    color: var(--dark-03, #757575);
    font-size: 20px;
    font-weight: 400;
}

.info-discinfoription {
    color: var(--dark-02, #474747);
    font-size: 20px;
    font-weight: 700;

}

/* what i do styles */


.section-title {
    text-align: center;
    margin-top: 130px;
    margin-bottom: 30px;

}

.section-title-discription {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;

}

.skill-title {
    color: var(--dark-01, #181818);
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-discription {
    color: var(--dark-03, #757575);
    font-size: 16px;
    font-weight: 400;
    
}
/* Resume styles */